<template>
    <div class="">
      {{ value }}
    </div>
</template>

<script>
    export default {
        name: 'array-item',
        components: {},
        props: {
            value: {
                required: true
            }
        },
        data() {
            return {}
        },
        computed: {},
        methods: {},
    }
</script>

<style scoped></style>
