<template>
  <div class="board">
    <ArrayItem
      v-for="item in array"
      :value="item">
    </ArrayItem>
  </div>
</template>

<script>
    import ArrayItem from './ArrayItem.vue';

    export default {
        name: "Board",
        components: {
            ArrayItem
        },
        data(){
            return {
                array: [3,2,1]
            }
        }
    }
</script>

<style scoped>

</style>
